@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
